/* variables */
:root {
    --blue: #14d6dd;
    --white: #FFFFFF;
    --black: #000000;
    --lightgrey: #DDDDDD;
}
/* Globales */
html {
    box-sizing: border-box;
}

*, *:before *:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--black);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}
/* Imagenes responsivas */
img {
    width: 100%;
}

.color-text-blue {
    color: var(--blue);
}
.color-text-red {
    color: red;
}
.bg-color-blue {
    background-color: var(--blue);
    text-align: center;
}

/* pocisionamos el navbar, lo enviamos adelante */
.header {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.logo-viajes {
    width: 30px;
}

.quienes-somos {
    color: var(--white);
}

.quienes-somos img{
    width: 25px;
    filter: invert(1);
    padding: 2px;
}

.text-grey {
    color: var(--lightgrey)!important;
}

.iconos-redes {
    width: 30px;
    filter: invert(1);
}
